@charset "utf-8";


/*--------------------------------------
  Structure Module
---------------------------------------*/

body {
	margin: 0;
	padding: 0;
	font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
	background-image: url(back.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#container {
	width: 800px;
	margin: 0 auto;
}

#contents {
	background-color: rgba(255, 255, 255, 0.66);
}

#image {
	text-align: center;
}




/*--------------------------------------
  Text Module
---------------------------------------*/
h1 {
	font-size: 200%;
	text-align: center;
	background-color: rgb(115, 255, 0);
	background-color: rgb(255, 255, 255);
	margin-top: 8rem;
}


h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px 15px;
	background: rgba(255, 255, 255, 0.8);
	border-left: #27e0b8 8px solid;
	font-size: 160%;
	font-weight: bold;
	color: #000000;
}



h3 {
	font-size: 120%;
	margin: 1rem 2rem;
}

h3:first-letter {
	color: #ff0080;
	font-size: 150%;
}

table {
	border: medium solid #2f4f4f;
	margin: 1rem 3rem;
}

th,
td {
	border: thin ridge #2f4f4f;
	padding: 0.1rem 0.5rem;
}

th {
	color: #fff;
	background-color: #2e8b57;
}

p {
	padding: 1rem 2rem;
	line-height: 1.8rem;
	margin: 0;
}

ol {
	padding: 1rem 4rem;
}

ul {
	padding: 1rem 4rem;
}


address {
	padding: 1rem 2rem;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	font-size: small;
}

a {
	text-decoration: none;
}

a:link {
	color: #ff7f50;
	text-decoration: none;

}

a:visited {
	color: navy;
	text-decoration: none;
}

a:hover {
	color: #f6f;
	text-decoration: none;
}

.button {
	position: relative;
	z-index: 2;
	background-color: rgb(255, 238, 250);
	border: 1px solid rgb(255, 14, 175);
	color: #fff;
	line-height: 50px;
	height: 50px;
}

.button:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

.button::before,
.button::after {
	top: 0;
	width: 50%;
	height: 100%;

}

.button::before {
	right: 0;
}

.button::after {
	left: 0;
}

.button:hover::before,
.button:hover::after {
	width: 0;
	background-color: #59b1eb;
}




/*--------------------------------------
  MENU 
---------------------------------------*/


nav {
	margin-bottom: 50px;
	margin-top: -8rem;
	position: fixed;
	width: 100%;
}


nav ul {
	font-size: 200%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 100%;
	list-style-type: none;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	background-color: rgb(218, 242, 250);
}


nav ul li {
	padding: 0rem;
	text-align: center;
	font-size: 14px;
	float: left;
	background-color: rgb(218, 242, 250);
	width: 133.4px;
}

nav ul li a {

	padding: 8px 20px;
	display: block;
	position: relative;
	color: #000000;
	text-decoration: none;

}

nav ul li a:link {
	color: #696969;
	text-decoration: none;
}

nav ul li a:visited {
	color: #000;
	text-decoration: none;
}

nav ul li a:hover {
	color: #494848;
	background-color: rgb(81, 168, 250);
	text-decoration: none;
}




/* ClearFix */

.menu ul {
	height: 1px;
	min-height: 1px;
	/*¥*/
	/*/
	height: 1px;
	overflow: hidden;
	/**/
}

.menu ul :after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

.menuBar {
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 2rem;
	background-color: #EEFAFF;
	/* position: fixed; */
}

.menuBar__backButton {
	border: 1px solid #ccc;
	border-radius: 2rem;
	background-color: #fff;
	height: 35px;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.9rem;
	color: #3d3d3d;
	display: flex;
	align-items: center;
	text-decoration: none;
}

@media screen and (max-width: 767px) {
	body {
		width: 100vw;
	}

	nav {
		margin-top: 0;
		width: 100vw;
	}

	nav ul {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	nav ul li {
		width: 33%;
		font-size: 15px;
	}

	.menuBar {
		padding-left: 1rem;
	}

	#container {
		width: 90%;
		padding: 1rem;
	}

	.logo_pic {
		width: 100%;

	}

	.contents__slider {
		width: 300px;
	}

	.map_pic {
		width: 100%;
		height: auto;
		padding: 1rem 0;
	}

	h1 {
		margin-top: 10rem;
		display: flex;
		justify-content: center;
	}

	h2 {
		margin: 0;
		font-size: 1.3rem;
	}

	p {
		padding: 1rem;
	}

	.image__pic {
		width: calc(100% - 2rem);
		height: auto;
		padding: 1rem;
	}

	ul {
		margin: 0;
		padding: 1rem 2rem;
	}

	li {
		word-break: break-all;
	}

	address {
		padding: 0.25rem 1rem;
	}
}